{%extends 'base.html' %} {%block content%}
<div class="container">
   <h1 style="text-align: center; padding-top: 1em; padding-bottom: 1em">
      Delete Supplier
   </h1>
   <form action="" method="POST">
      {% csrf_token %}

      <br /><br />
      <div class="alert alert-danger" role="alert">
         Are you sure you want to delete "{{ supplier.supplier_name }}"?
      </div>

      <p>
         <a href="{%url 'category' %}" class="btn btn-primary">Cancel</a>
         <input class="btn btn-danger" type="submit" value="Confirm" />
      </p>
   </form>
</div>

{%endblock%}
