{%extends 'base.html' %} {%load static%} {%block content%}
<div class="container mb-5">
   <table class="table table-striped">
      <thead>
         <tr>
            <th scope="col">Supplier Name</th>
            <th scope="col">Supplier Address</th>
            <th scope="col">Supplier Email</th>
            <th scope="col">Is Active</th>
            <th scope="col">Actions</th>
         </tr>
      </thead>
   </table>
</div>
<div class="text-center">
   <a href="{% url 'create_product' %}"
      ><button type="button" class="btn btn-primary">
         Add New Supplier
      </button></a
   >
</div>

{%endblock%}
